# Nestjs specific
/dist
/node_modules
/build
/tmp
/.idea

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env*
clients/snowoffice/certs/*
!clients/snowoffice/certs/.gitkeep
*.pem
*.key

# temp directory
.temp
.tmp
